html,
body {
    position: fixed;
    overflow: hidden;
    font-family: system-ui;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

.symbol {
    font-weight: 100;
}

.tuningSelector.horizontal {
    writing-mode: sideways-lr;
}

.rootSelector.selectable.emphasized {
    background-color: #f8bb42;
    color: #616f39;
}

.selectable {
    user-select:none;
    background-color:rgb(222, 218, 218);
    color: #616f39;
}

.selectable.emphasized {
    background-color: #616f39;
    color: #ffd98e;
}

.selectable.root {
    background-color: #f8bb42;
    color: #616f39;
}

.selectable.emphasized.root {
    background-color: #c7391f;
    color: #f0cf8c; 
}
